
header{
    box-sizing: border-box;
    border: 2px solid rgb(72, 46, 176);
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 40px 40px 0 0;
    padding: 35px 450px;
    background-color: #bdb7f0;
}

main{
    box-sizing: border-box;
    /* border: 1px solid rgb(72, 46, 176); */
    width: 100%;
    min-height: 85vh;
    display: flex;
    background-color:#bdb7f0;
}

section{
    padding-top: 50px;
    box-sizing: border-box;
    /* border: 1px solid rgb(72, 46, 176); */
    height: 100%;
    width: 60%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside{
    padding-top: 50px;
    box-sizing: border-box;
    /* border: 1px solid rgb(72, 46, 176); */
    height: 100%;
    width: 40%;
    min-height: 85vh;

}

table{
    border-radius: 8px;
    /* background: rgb(72, 46, 176); */
    background-color: beige;
}

td{
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    /* background:#bdb7f0; */
    background-color: rgb(161, 150, 194);
    
}

thead{
    font-weight: 600;
}

.icono{ 
    background: rgb(161, 150, 194);
    text-align: center;
}

.icono svg{                        /* El svg del icono alumno */
    color: rgb(72, 46, 176);
    height: 25px;
    cursor: pointer;
    
}

.iconoGuardar{
    box-sizing: border-box;
    border-radius: 100%;
    background-color:rgb(54, 65, 90);
    color: white;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border-style: outset;
    border-color: rgb(54, 65, 90);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}

.iconoBuscar{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: -2px;
    width: 28px;
    height: 28px;
    background: rgb(54, 65, 90);
    border-style: outset;
    border-color: rgb(54, 65, 90);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}

.iconoBuscar svg{
    height: 17px;
    color: white;
    transition: all 0.7 ease;
    cursor: pointer;
    
}

.boton{
    background-color: rgb(54, 65, 90);
    color:white;
    margin-left: 4px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.busqueda{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor{
    display: flex;
    gap: 8px;
}

.buscador{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buscador:hover .cajaBuscar{
    width: 150px;
}

.cajaBuscar{
    /* outline: none; */
    box-sizing: border-box;
    margin-left: 10px;
    height: 25px;
    width: 0;
    background-color: rgba(54, 65, 90, 0.673);
    padding: 0 10px;
    color:white;
    border-radius: 8px;
    /* border: 1px solid #482EB0; */
    transition: all 0.7s ease;
}

.cajaNombre{
    background-color: rgba(54, 65, 90, 0.673);
    height: 22px;
    border-radius: 8px;
    padding: 0 10px;
    color:white;
}

.infoNombre{
    padding: 0 10px;
    margin-bottom: 50px;
    /* border:1px solid rgb(72, 46, 176); */
    margin-left: 120px;
    margin-top: 30px;
}

.divResultado{
    gap: 0 10px;
}


